<style>
    body {
        background-color: #f4f4f4;
        font-family: 'Arial', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }

    form {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 8px;
    }

    select,
    input {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }

    button {
        background-color: #007BFF;
        color: #fff;
        padding: 10px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
    }

    button:hover {
        background-color: #0056b3;
    }

    .resultado {
        margin-top: 20px;
        padding: 15px;
        background-color: #3498db;
        color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    section {
        display: flex;
        flex-direction: column;
    }
        .data-hora {
        margin-top: 20px;
        text-align: center;
    }

    .data-hora p {
        font-size: 18px;
        margin: 8px 0;
    }

    #data {
        font-weight: bold;
        color: #3498db;
    }

    #hora {
        font-weight: bold;
        color: #e74c3c;
    }
</style>

<section>
    <div class="data-hora" id="data-hora">
        <p>Data Atual: <span id="data"></span></p>
        <p>Hora: <span id="hora"></span></p>
    </div>
    <form action="/conversor" method="post">
        <div>
            <label for="conversor">Conversor de Celsius</label>
            <select name="conversor" id="conversor">
                <option value="celsiusToFahrenheit">Celsius para Fahrenheit</option>
                <option value="fahrenheitToCelsius">Fahrenheit para Celsius</option>
            </select>
        </div>
        <div>
            <label for="valor">Valor:</label>
            <input type="number" name="valor" id="valor" required />
        </div>
        <div>
            <button type="submit">Converter</button>
        </div>
    </form>

    {{#if resultado}}
        <div class="resultado">
            <p>Resultado da Conversão: {{resultado}}</p>
        </div>
    {{/if}}
</section>

<script>
    function atualizarDataHora() {
        var dataAtual = new Date();
        var dia = dataAtual.toLocaleDateString('pt-BR');
        var hora = dataAtual.toLocaleTimeString('pt-BR');

        document.getElementById('data').innerText = dia;
        document.getElementById('hora').innerText = hora;
    }

    // Atualiza a data e hora inicialmente
    atualizarDataHora();

    // Atualiza a data e hora a cada segundo
    setInterval(atualizarDataHora, 1000);
</script>
